.jumbotron{
  width: 100%;
  length:100%;
  top:0;
  left:0;
  background-color:#F15A29;
  text-align: center;
  background-image: url(../images/backgrounds/landing.jpg);
  margin: auto;
}
jumbotron img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button1{
  border:1px solid #F15A29 ;
  color: #F15A29;
}
#carousel{
  background-image: url(../images/backgrounds/foodsBg.jpg);

}
#subcribe{
  background-image: url(../images/backgrounds/subscribe.jpg);
}
.footer{
  background-color: #F15A29;
  text-align: center;
}
.happy{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
}
.Party{
  background-color:#F15A29;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
}
.Lunch{
  background-image: url(../images/foodtop/lunch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
.Breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
.Dinner{
  background-image: url(../images/foodtop/dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
