.jumbotron{
  width: 100%;
  length:100%;
  top:0;
  left:0;
  background-color:#F15A29;
  text-align: center;
}
jumbotron img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button1{
  border-color:#F15A29;
  color: #F15A29;
}
#carousel{
  background-image: url(foodsBg.jpg);
}
