.jumbotron{
    width: 100%;
    length:100%;
    top:0;
    left:0;
    background-color:#F15A29;
    text-align: center;
    background-image: url(../images/backgrounds/landing.jpg);
    margin: auto;
  }
  jumbotron img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

#Happy-Hour{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:0;
  color:black;
  margin: 0;
  }
.happy{
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:31px;
  color:black;
  margin:30px:
}
.Party{
  background-color:#F15A29;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:24px;
  color:white;
  margin: 0;
}
#Party{
  background-color:#F15A29;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:25px;
  color:white;

  }
#Lunch{
  background-image: url(../images/foodtop/lunch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 77px;
  color:white;
  margin: 0px;
  text-align: center;
}
#Breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 77px;
  margin: 0px;

  color:white;

 }
#Dinner{
  background-image: url(../images/foodtop/dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 77px;
  color:white;
  margin: 0px;
 }

#Dinner:hover::before{
  display: block;
  background-color:white;
}
.button1{
  border:1px solid #F15A29 ;
  color: #F15A29;
}
.drinks1{
  text-align:right;
}
.customers{
  border-right: 1px solid grey;
}
h3{
  color:#F15A29;
}
#subscribe{
   background-image: url(../images/backgrounds/subscribe.jpg);
   text-align: center;
   height: 100%;
   padding: 100px;
 }
.subscribe{
  color: white;
  text-align: center;
}
input{
   width: 30%;
   height: 30%;
 }
btn btn-warning{
  width: 20%;
  height: 20%;
  background-color: #F15A29;
 }
.footer{
  background-color: #F15A29;
  text-align: center;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F15A29; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.glyphicon glyphicon-menu-hamburger{
  padding-left: 20px;
  font-size: 30px;
  color: white;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav {
  right: 0;
}
